
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                   

                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form action="@Url.Action("Index","Acceso")" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" name="correo" id="correou" type="email" required/>
                                            <label for="inputEmail">Email </label>
                                        </div>
                                        @*IMPORTANTE! Correo y clave son identificadores de los parametros del metodo index de acceso
        controller para relacionarlos*@
                                        <div class="form-floating mb-3">
                                            <input class="form-control" id="claveu" name="clave" type="password" required />
                                            <label for="inputPassword" >Contraseña</label>
                                        </div>

                                        @{ if (ViewBag.Error != null)
                                            {
                                                <div class="form-floating mb-3">
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                </div>
                                            }
                                        }

                                        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                            <a class="small" href="password.html">¿Has olvidado tu contraseña?</a>
                                            <button type="submit" class="btn btn-primary" href="index.html">Iniciar sesión</button>
                                        </div>

                                      
                                    </form>
                                </div>
                                <div class="card-footer text-center py-3">
                                    <!--Esta condicion aplica cuando despues de crear su propia contraseña cambiando la que se le envio al correo
                                        se regrese automaticamente al index login, donde estará este mensaje de que si todo fue bien, entonces
                                        indicarle al usuario que se cambió la contraseña correctamente e indicar volver a acceder al sistema con 
                                        las nuevas credenciales-->
                                    @if (TempData["respuesta"] != null && (bool)TempData["respuesta"])
                                    {
                                        <div class="form-floating mb-1 mt-1">

                                            <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                                                <h5>
                                                    Se cambió la contraseña correctamente
                                                </h5>
                                                <h5>
                                                    !Acceda al sistema con sus nuevas credenciales!
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>
                                        </div>
                                    }<!--Esto es lo unico que se agregó mas (El mensaje)-->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; JADE 2024</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script>
        window.onload = function () {
            limpiarCampos();
        }
        function limpiarCampos() {
            document.getElementById("correou").value = "";
            document.getElementById("claveu").value = "";
        }
    </script>
</body>
</html>


