
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/ControlAccesos.cshtml";
}

<h2>Actividades</h2>

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="#">Administrador</a></li>
    <li class="breadcrumb-item active">Control de Accesos</li>
    <li class="breadcrumb-item active">Actividades</li>
</ol>
<div class="card">
    <div class="card-header">

        <i class="fas fa-list me-1"></i>Lista de Actividades
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12  d-flex justify-content-between align-items-center">
                <button type="button" class="btn btn-success" onclick="abrirModal()">Registrar</button>
            </div>
        </div>
        <hr /> @*el id es para identificar la tabla*@
        <table id="tabla" class="display cell-border" style="width:100%">
            <thead>
                <tr>
                    <th>Actividad</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @*Aqui va el render de ajax*@
            </tbody>
        </table>

    </div>
</div>

<!-- Modal, con el id FormModal vamos a llamarlo cuando deseamos que aparezca y cuando no
    al momento de precionar el boton nuevo-->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    @*Esto ultimo de data-bs-backdrop es para*@
    <div class="modal-dialog">
        @*no poder quitar es modal a menos que demos clic en cerrar o en la x, si hacemos clic en otro lado no se puede quitar*@
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title" id="exampleModalLabel">Actividades</h5>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="contenedor">

                <input id="txtId" type="hidden" value="0" />@*Con el valor 0 se identifica si es un Prestamo nuevo a ingresar o es valor ya existe
                    pero si es diferente a 0 significa que ya existe y vamos a editar*@
                <div class="row g-2">
                    <div class="col-sm-12">
                        <label class="form-label">Nombre de la Actividad</label>
                        <input type="text" class="form-control" id="txtActividad" autocomplete="off" placeholder="Escribe un nombre para la actividad.">
                    </div>
                </div>
                <!--mensaje de alerta-->
                <div class="row mt-2">
                    <div class="col-12">
                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            <label class="form-label" id="lblAlerta"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" id="footer-modal">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


    <script>
        //Variables Globales
        var tabladata;

        //----------------------------------------TABLA-------------------------------------------------
        //Aqui se encuentra el cuerpo de la tabla
        tabladata  = $("#tabla").DataTable({
            responsive: true,/*Para que sea resposiva*/
            ordering: true,
            "ajax": {/*Como pinta la tabla, ajax solo trae todos los valores*/
                url: '@Url.Action("ListarActividadCU", "ControlAccesos")',
                type: "GET",
                dataType: "json"
            },
            "columns": [
                { "data": "NombreActividad" },
                {
                    "data": "IdActividad", "render": function (data, type, row, meta) {

                        return $("<button>").addClass("btn btn-primary btn-editar btn-sm").append(
                            $("<i>").addClass("fas fa-pen")
                        ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML
                            +
                            $("<button>").addClass("btn btn-danger btn-eliminar btn-sm ms-2").append(
                                $("<i>").addClass("fas fa-trash")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                    },
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }
            ],/*Propiedad o atributos van dentro de las comillas ""*/
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"
            }

        });

        function abrirModal(json) /*json es el data del siguiente*/ {

            /*Asignacion de valores al abrir el modal*/
            $("#txtId").val(0);
            $("#txtActividad").val("");

            $("#mensajeError").hide();
            //La siguiente validacion es por que el modal sirve para guardar y editar, entonces al abrir trae la informacion dependiendo del boton.
            if (json != null) {
                $("#txtId").val(json.IdActividad);
                $("#txtActividad").val(json.NombreActividad);
            }

            $("#FormModal").modal("show");
        }

        /*--------------- Al dar clic en el boton de editar-------------------------------*/

        $("#tabla tbody").on("click", '.btn-editar', function () {
            var json = $(this).data("informacion")
            abrirModal(json)
        })

        /*--------------- Al dar clic en el boton de editar solo fecha prestamo y activo-------------------------------*/

        $("#tabla tbody").on("click", '.btn-eliminar', function () {
            var json = $(this).data("informacion")
            swal({
                title: "¿Esta Seguro?",
                text: "¿Desea eliminar el Edificio?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: false //ATENCION si este se pone en true puede que ya no sirva el mensaje de error o confirmación
            },
            function (isConfirm) {
            if (isConfirm) {
                jQuery.ajax({
                url: '@Url.Action("EliminarActividadesCU", "ControlAccesos")',
                type: "POST",
                    data: JSON.stringify({ id: json.IdActividad }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.resultado) {
                        swal("¡Eliminado!", "La actividad ha sido eliminada correctamente", "success")
                        tabladata.ajax.reload()
                    } else {
                        swal("¡Error!", data.mensaje, "error")
                    }
                },
                error: function (error) {
                    console.log(error)
                }

             });
            } else {
               /* swal("Cancelled", "Your imaginary file is safe :)", "error");*/
            }
        });
        })

        function Guardar() {

            var Registro = {
                IdActividad: $("#txtId").val(),
                NombreActividad: $("#txtActividad").val(),
            }
                jQuery.ajax({
                url: '@Url.Action("GuardarActividadesCU", "ControlAccesos")',
                    type: "POST",
                    data: JSON.stringify({ actividad: Registro }), // el accesos es el parametro del metodo del controlador, el otro es la variable
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $(".modal-body").LoadingOverlay("hide");
                    //CATEGORIA NUEVO
                    if (Registro.IdActividad == "0") {
                        if (data.resultado != 0) {
                            Registro.IdActividad = data.resultado;
                            $("#FormModal").modal("hide");
                            tabladata.ajax.reload();
                        } else {

                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                    //CATEGORIA Editar
                    else {
                        if (data.resultado) {
                            tabladata.ajax.reload();
                            $("#FormModal").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }
                },
                error: function (error) {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show", {
                        imageResizeFactor: 2,
                        text: "Cargando...",
                        size: 24
                    });
                }
            });

        }
    </script>
}